# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings (optional, if you use these editors)
.vscode/
.idea/
